.container{
    width: 100%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

.hmenu{
    /* width: 60%; */
    font-size: 20px;
    
}
.menu{
    margin-right: 4%;
    margin-top: 1%;
    color: black;
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width:450px) {
    /* .hmenu{
        display: none;
    } */

}
