.container{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 2%;
    padding-top: 3%;
}
.menu{
   
    margin-top: 2%;
    
}
.btn{
    border: none;
    background-color: white;
    color: black;
}
.hamburger{
    display: none;
    /* width: 100%; */
}
.fullside{
    display: flex;
    height: 100vh;
    left:0px;
    top: 0px;
    position: fixed;
    color: black;
   overflow-y: scroll;
   text-align: center;
   overflow-x: hidden;
    flex-direction: column;
    width: 20vw;
}
@media screen and (max-width:450px) {
    .hamburger{
        display: block;
        width: 100%;
        margin-top: 30%;
    }
    .container{
        width: 100vw;
        display: none;
    }
    .fullside{
        display: flex;
        flex-direction: column;
    }
    .click{
        width: 100vw;
        min-height: 100vh;
      }
}